<ion-view title="{{post.Titulo}}">

    <ion-nav-buttons side="right">
    <a class="button button-clear" ng-click="sharePost()"><i class="icon ion-share"></i></a>
    </ion-nav-buttons>

    <ion-content class="has-header" id="noticia">
        <span class="localdata">{{storage}}</span>
        <span ng-show="{{post.FotoNoticia.length}}"><img ng-src="http://www.fortalezaec.net/{{post.FotoNoticia}}"/></span>
        <div class="padding">
<!--              <span  ng-show="{{post.Assunto.Nome.length}}">{{post.Assunto.Nome}}</span>
 -->            <h2 class="title">{{post.Titulo}}</h2>
            <div  class="post-info">
            Publicado em {{post.DataHora * 1000 | date:'dd/MM/yy '+as+' H:m'}}<br/>
            </div>
            <p ng-bind-html="post.Subtitulo" class="texto"></p>

<!--             <p><button class="button icon-left ion-share button-outline button-positive" ng-click="sharePost()">Compartilhar</button></p>
 -->
            <a class="button button-full button-positive" href="#/app/noticia/{{post.postId}}">  
            Veja a notícia completa
            </a>

        </div>

    </ion-content>
</ion-view>
