<ion-view title="Tempo Real">
 <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
    </ion-nav-buttons>
    <ion-content class="has-header">
   <img class="full-image" id="bannerapp" src="img/banner_app.jpg">
   <span class="localdata">{{storage}}</span>
   <div id="tempo-real">

   		<div class="data">
   			<div ng-bind-html="temporeal.data"></div>
   		</div>
   		<div class="placar">
       <div class="pontos"><span>{{temporeal.ponto1}} x {{temporeal.ponto2}}</span></div>
   			<div class="time time1">
		       <img ng-src="{{temporeal.escudo_1}}">
		       {{temporeal.time1}}
	       </div>
	       <div class="time time2">
		       <img ng-src="{{temporeal.escudo_2}}">
		       {{temporeal.time2}}
	       </div>

	       <div class="evento">{{temporeal.nomeevento}} <br/>{{temporeal.terminado}}</div>
       </div>
       </div>
        <div class="barra-titulo">
 <label class="item item-input">
   <div class="input-label">Confira os lances</div>
  </label>
</div>
 <div ng-controller="LancesCtrl" id="lances">
<div class="list">

    <a class="item" ng-repeat="lance in lances2 | reverse"  >
        <span class="tempo"><b ng-bind="lance.momento"></b>' <b ng-bind="lance.periodo"></b></span>
        <span ng-bind-html="lance.texto"></span>
    </a>
  </div>
</div>
    </ion-content>
</ion-view>
