<ion-view title="{{video.title.$t}}">
    <ion-content class="has-header">
        <span class="localdata">{{storage}}</span>
        <div class="padding" id="video" >
         <div class="item item-image">
                 <div class="media-container" data-ng-init="init()">
                 
                  <div ng-bind-html="video.embed"></div>
                            </div>
          </div>
                       
            <h2 class="title">{{video.title.$t}}</h2>
            <p>{{video.media$group.media$description.$t}}</p>
        </div>
         <div class="barra-titulo">
 <label class="item item-input">
   <div class="input-label">Mais vídeos</div>
  </label>
</div>
         <div class="list"  ng-controller="VideosCtrl">
            <a class="item" ng-class="{'item-thumbnail-left' : video.media$group.media$thumbnail[0].url}" href="#/app/video/{{$index}}" ng-repeat="video in videos | limitTo: 4" >
                <img ng-src="{{video.media$group.media$thumbnail[0].url}}" alt="{{video.title.$t}}">
                
                <h2>{{video.title.$t}}</h2>
                <h3>{{video.media$group.media$description.$t}}...</h3>
       </a>
        </div>
    </ion-content>
</ion-view>