/* Empty. Add your own CSS if you like */

@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-Regular-webfont.eot');
  src: url('../font/Roboto-Regular-webfont.eot?#iefix') format('eot'),
         url('../font/Roboto-Regular-webfont.svg#RobotoRegular') format('svg'),
         url('../font/Roboto-Regular-webfont.woff') format('woff'),
         url('../font/Roboto-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* Empty. Add your own CSS if you like */

@font-face {
  font-family: "Source Sans Pro";
  src: url("../font/SourceSansPro-Regular.ttf");
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../font/SourceSansPro-Italic.ttf");
  font-style:italic;
}

@font-face {
  font-family: "Open Sans";
  src: url("../font/SourceSansPro-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../font/SourceSansPro-LightItalic.ttf");
  font-weight: 300;
  font-style:italic;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../font/SourceSansPro-Bold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../font/SourceSansPro-BoldItalic.ttf");
  font-weight: 600;
  font-style:italic;
}
@font-face {
    font-family: 'Rockwell';
    src: url('../lib/ionic/fonts/rockb-webfont.eot');
    src: url('../lib/ionic/fonts/rockb-webfont.eot?#iefix') format('embedded-opentype'),
         url('../lib/ionic/fonts/rockb-webfont.woff') format('woff'),
         url('../lib/ionic/fonts/rockb-webfont.ttf') format('truetype'),
         url('../lib/ionic/fonts/rockb-webfont.svg#Rockwell') format('svg');
    font-weight: bold;
    font-style: normal;
}
body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .button, input, textarea { font-family: 'Source Sans Pro', sans-serif; }

a { text-decoration: none; }

img { max-width: 100%; height:auto; }

.angular-google-map img { max-width: inherit!important; }

.angular-google-map { width: 100%; height: 100%; }

.scroll { height: 100%; }

.noborder { border:none; }

/* Specify an height via CSS for the map container: */
.angular-google-map-container { height: 100%; }
.menu-left .item:first-child {
  /* border-top:none; */
} 
.menu-left .item {
  margin:0;
 
  padding: 0;
  border-bottom: 1px solid #000;

  border-top: 1px solid #444;

 color: #FFF;
  font-size: 17px;
 
  background: transparent;
 
  text-shadow: -1px 2px 0px #000;
  border-left: none;
  font-family: "Roboto";
  border-right: none;
}
.menu-left {
left: 0;
background: #333;
  
}
.menu-left .item-content {
  font-size: 17px;

  padding: 12px 0 12px 16px;
  background: transparent;
}

.menu-left  .item-content.activated {
  background: transparent;
}
.menu-left .sub-item a {
     border-top: none;
  
  
     /* background: #333333; */
}

.menu-left .sub-item {
    /* border-top: none; */
    background: #333333;
}
.bar.bar-stable { 
    background: #cc0014 url(../img/bg_menu.jpg);

}
.bar .button,.bar.bar-stable .title  {
    color: #FFF !important;
     
    text-transform: uppercase;
    /* text-shadow: -1px 1px 0px #000; */

}
.item-thumbnail-left > img:first-child, .item-thumbnail-left .item-image, .item-thumbnail-left .item-content > img:first-child, .item-thumbnail-left .item-content .item-image {
    outline: 2px solid #CCC;
}
.list a.item {
    background: linear-gradient(to bottom, #FFF 0%,#f7f7f7 100%);
}
.item h2 {
    color: #666666;
    font-size: 100%;
    white-space: pre-line;
}
.item h3 {
    color: #78848E;
    font-size: 80%;
    max-height: 30px;
    white-space: pre-wrap;
    overflow: hidden;
    margin: 0;
}
p.ng-binding {
    text-align: right;
    color: #78848E;
    line-height: normal;
    font-size: 0.8em;
}

a.item {
    padding-bottom: 4px;
}
h2.title {
    font-size: 165%;
    color: #333;
}

.pane .scroll-content {
    background: #f5f5f5;
}
.menu-left .scroll-content {
    background: #232323;
}
.post-info {
    color: #999;
}
.item h2 {
    font-size: 100%;
    margin-bottom: 2px;
    color: #155B8D;
    font-size: 85%;
    max-height: 30px;
}
#slidehome h3 {
    position: absolute;
    background: rgba(0,0,0,0.7);
    width: 100%;
    color: #FFF;
    text-shadow: 1px 1px 1px #000;
    padding: 2%;
    font-size: 150%;
    bottom: 0;
    margin-bottom: 5px;
}
#slidehome {
    margin-top: -4px;  margin-bottom: -4px;
}
#slidehome .slider-pager {
    top: 0;
}

#slidehome .slider-pager .slider-pager-page {
    color: #FFF;
}
.title.title-center {
    font-family: "Rockwell";
    font-weight: normal;
    font-size: 130%;
    letter-spacing: 1px;
}
.menu-content.pane {  
    -webkit-box-shadow: -21px -17px 21px -17px #000000;  
    box-shadow: -21px -17px 21px -17px #000000;
}
.row.produto h2 {
    font-size: 118%;
    font-weight: bold;
    color: #666;
}

.produto p.ng-binding {
    font-size: 93%;
    line-height: 97%;
    text-align: left;
}
.barra-titulo .item, .barra-titulo  .item-select select, .barra-titulo .input-label {
    background: #011B3F;
    color:#FFF;
    text-transform:uppercase;
}

.item-thumbnail-left, .item-thumbnail-left .item-content {
  padding-top: 8px;
  padding-left: 97px;
  min-height: 80px; }

  #jogadores-lista img {
    max-width: 60px;
    max-height: 100px;
}

#jogadores-lista .list a {
    padding-left: 82px;
}
#jogador-ver h2.title  {
    font-weight: 700;
    text-align: left;
    font-family: "Roboto";
    font-size: 190%;
    padding: 5px 0 0;
    width: 100%;
    text-shadow: 1px 1px 0px #000;
    color: #FFF;
    background: rgba(0,0,0,0.6);
    position: absolute;
    padding-left: 165px;
    bottom: 25px;
}
#jogador-ver p.ng-binding {
    text-align: left;
    font-size: 15px;
    color: #777;
    font-family: "Roboto";
}
#jogadores-lista .list a h2 {
    font-size: 120%;
}

#jogadores-lista .list a h3 {
    font-size: 100%;
}

#jogadores-lista .list a p {
    font-size: 100%;
}
div#jogador .blade {
    position: absolute;
    width: 100%;
    text-align: left;
    height: 128px;
    bottom: -35px;
}

div#jogador .blade img {
    width: 128px;
    border-radius: 100%;
    background: #F5F5F5;
    bottom: -15px;
    left: 5%;
    position: absolute;
    z-index: 99999;
    /* box-shadow: 0px -1px 11px #000; */
    border: 3px solid #CCC;
}
#tempo-real .data {
    background: #174C8A;
    float: left;
    width: 30%;
    text-align: center;
    height: 100%;
    vertical-align: middle;
}

#tempo-real .placar {
    background: #03244D;
    height: 100%;
    position: relative;
    float: left;
    font-family: "Roboto";
    width: 70%;
}

div#tempo-real {
    height: 100px;
    background: #03244D;
    color: #53AADD;
}

.barra-titulo {
    clear: both;
}

#tempo-real .placar .time {
    width: 50%;
    float: left;
    font-size: 0.9em;
    line-height: 13px;
    color: #FFF;
    padding-top: 8px;
    text-align: center;
    padding-right: 29px;
}

#tempo-real .placar .time2 {
    padding-left: 30px;
    padding-right: 0;
}

#tempo-real .placar .evento {
    text-align: center;
    clear:both;
    padding-top: 5px;
}
#tempo-real .data div {
    margin-top: 30px;
    color: #FFF;
}



#tempo-real .pontos {
    position: absolute;
    color: #FFF;
    font-size: 1.6em;
    /* font-weight: bold; */
    text-align: center;
    width: 100%;
    top: 45%;
}
#tempo-real .time img {
    /* background: #FFF; */
  padding: 2px;
  border-radius: 3px;
  
    width: 60%;
}
.list .item-accordion {
 background: #333;

 transition: all 0.2s ease-out;
}
.list .item.item-accordion.ng-hide {
  
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}
#video p.ng-binding{
  text-align: justify;
    font-size: 110%;
}
.banner {
    display: block;
  
    overflow: hidden;
    min-height: 50px;
  clear: both;
}
#jogador {
      background: url(../img/bg_jogador.jpg) left bottom;
      background-size: initial;
      height: 40%;
      max-height: 200px;
      /* box-shadow: 0px -1px 11px #000; */
      box-sizing: content-box;
      position: relative;
      border-bottom: 2px solid #CCC;
}
#jogador-ver h3.subtitle {
  font-weight: 700;
  text-align: left;
  font-size: 89%;
  width: 100%;
  color: #6C6C6C;
  position: absolute;
  padding-left: 165px;
  bottom: -5px;
}
#jogador-ver .info {
  padding: 4%;
  margin-top:50px;
}
#jogador-ver p b {
    color: #666;
}
span.localdata {
    background: #444;
    min-height: 0px;
    text-align: center;
    color: #FFF;
    line-height: 25px;
    width: 100%;
    display: block;
}

#fotos .thumb {
    width: 33%;
    float: left;
    background-size: 150%;
    background-position:center;
    background-repeat:no-repeat;
    outline:1px solid #FFF;
}

#fotos .thumb img {
    width: 100%;
    display:block;
}
#fotos .thumb:hover,#fotos .thumb:active {
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.4s ease-in;
    -ms-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    overflow:hidden;
    transition: all 0.4s ease-in;

}
#fotos .thumb:hover img,#fotos .thumb:active img{
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.4s ease-in;
    -ms-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
    opacity: 0.8;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1) rotate(0.02deg);
}
div#fotos {
    display: block;
    overflow: hidden;
}
#lances a.item {
    padding: 5px  !important;
    min-height: 33px;
    font-size: 1em;
    white-space: initial;
    overflow: hidden;
    word-wrap: break-word;
}
button.button-block {
    margin: 0 !important;
}
.list {
    margin-bottom: 0;
}
#noticia img {
    width: 100%;
    border-radius:6px;
}
#noticia p.ng-binding {
    font-size: 1.2em;
}
div#lightbox {
  display:none;
    width: 100%;
    padding: 8%;
  top: 0;
  height: 100%;
    
  z-index: 9;
  position: absolute;
  
  background: rgba(0,0,0,0.7);
}


div#lightbox b {
    display: block;
    text-align: left;
    color: #f5f5f5;
    font-family: "Arial";
}
div#lightbox a.close {
    color: #FFF;
    position: absolute;
    text-align: center;
    bottom: 3%;
    font-size: 2.9em;
    z-index: 9999;
    width: 90%;
}